/* defined consistent styling for the full page */
body {
  Font-Family: 'Courier New', Courier, monospace, sans-serif;
  line-height: 2;
  font-size: 25px;
}
/* consistent font has been used same as the one in Body */
h1 {
  font-family: 'Courier New', Courier, monospace, sans-serif;
}
/* Background is trnsparent to allow text visual */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: black;
  border-left: 1px solid #88898C;
  padding: 10px;
}
/* Styling for Jumbatron */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 10;
  border-bottom: 10px solid #0040ff;
}

.time-block {
  text-align: center;
  border-radius: 20px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}
/* Classes for the displayed current/Past date and time */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #88898C;
}
/* Classes for the displayed current/Past date and time */
.past {
  background-color: #01e1ff;
  color: white;
}
/* Classes for the displayed current/Past date and time */
.present {
  background-color: #4400ff;
  color: white;
}

.future {
  background-color: #88db3b;
  color: white;
}

/* Save button to save the inputted data */
.saveBtn {
  border: 2px solid #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #0040ff;
  color: rgb(0, 0, 0);
}
